@charset "UTF-8";
/* CSS Document */

.bucket {
	background-color: rgb(194,107,0);
	padding: 2rem 2% 2rem 2%;
}

h2 {
	color: white;
	margin-bottom: 1rem;
}

h3 {
	color: white;
	margin-bottom: 1rem;
}

p {
	color: white;
	margin-bottom: 1rem;
}

.media-img {
	margin-right: 5%;
}


