@charset "UTF-8";
/* CSS Document */

.footer {
	background-color: rgba(231,231,231,1.00);
}

.centered {
	text-align: center;
}

.social {
	width: 23%;
	margin: 0 2% 1.5rem 2%;
}

@media only screen and (min-width: 30em) {
	.social {
		width: 8%;
		margin: 0 1% 1.5rem 1%;
	}
	
	h6 {
		height: 0.5rem;
	}
}

@media only screen and (min-width: 50em) {
	
	.social {
		width: 5%;
	}
	
	.footer-nav {
		margin-top: 1.5rem;
	}
	
	h6 {
		margin-top: 1.5rem;
	}
}


