/*
  Colour Palette OPTION 1
  - Blue-Black: rgb(0,12,47)
  - rusty orange (accent colour): rgb(194,107,0)
  - Dark Grey: rgb(125,125,125)
  
  Colour Palette OPTION 2
  - Light yellow-green: rgb(247,253,151)
  - Dark Blue (accent colour):rgb(0,54,110)
  - Dark Grey: rgb(125,125,125)
 
@charset "UTF-8";
/* CSS Document */

html {
  font: normal 100%/1.5 Open Sans Condensed, sans-serif;
  color: rgb(125,125,125);
}

::selection {
	background-color: rgba(194,107,0,.3);
	color: rgb(194,107,0);        
}

a,
a:link {
	color: rgb(125,125,125);
	text-decoration: none;
	transition: all 110ms linear;
}

a:visited {
	color: rgb(125,125,125);
}

a:hover,
a:focus,
a:active {
	color: rgba(194,107,0,.5);
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl, p
blockquote, table, hr {
	margin: 0 0 1.5rem;
	color: rgb(0,12,47);
}

.p-typo {
	margin: 1.5rem 0;
	color: rgb(0,12,47);
	padding: 0 5%;
}

dt {
	margin-left: 3%;
}

.yotta {
  font-size: 4.6784rem;
  line-height: 1.3154;
}

.zetta {
  font-size: 3.8147rem;
  line-height: 1.4798;
}

h1, .exa {
  font-size: 3.0518rem;
  line-height: 1.6648;
}

h2, .peta {
  font-size: 2.4414rem;
  line-height: 1.8729;
}

h3, .tera {
  font-size: 1.9531rem;
  line-height: 1.0535;
}

h4, .giga {
  font-size: 1.5625rem;
  line-height: 1.1852;
}

h5, .mega {
  font-size: 1.25rem;
  line-height: 1.3333;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
}

small, .milli {
  font-size: 0.8000rem;
  line-height: 1.6875;
}

.micro {
  font-size: 0.6400rem;
  line-height: 1.8984;
}

.thankyou {
	padding: 0 5%;
}

.thankyou-emph {
	color: rgb(194,107,0);
}
	

ul {
	list-style-type: none;
	padding-left: 1em;
}

ul li {
	position: relative;
}

ul li:before {
	content: "•";
	color: rgb(194,107,0);
	position: absolute;
	left: -1em;
}

caption {
	text-align: left;
}

table {
	border-collapse: collapse;
	text-align: center;
	margin: auto;
	margin-top: 5rem;
}

th[scope=col] {
	color: rgb(0,12,47);
}
        
thead th {
	border-bottom: 2px solid rgb(125,125,125);
}

tr th {
	color: rgb(194,107,0);
}

table th,td {
	padding: 15px;
	border-bottom: 2px solid rgb(125,125,125);
 }
 
 th, td {
	 width: 25%;
 }
 
cite {
	color: rgb(194,107,0);
 }
 
 dt {
	 text-align: left;
	 margin: 0;
 }
 
 dd {
	border-bottom: medium;
	border-bottom-color: rgb(125,125,125);
 	text-align: left;
	margin: 0;
 }

 .search {
	 text-align: center;
	 font-size: 1.5rem;
	 padding-top: 1.5rem;
 }

 
 @media only screen and (min-width: 23.4em) {
	.search {
	 font-size: 2.4414rem;
 	}
 }
 
 .footer {
	background-color: #fff;
	clear: both;
}

.centered {
	text-align: center;
}

.social {
	width: 29.25%;
	margin: 0 2% 1.5rem 2%;
}

h6 {
	margin-top: 1.5rem;
}

.footer-nav {
		margin-top: 1.5rem;
	}

@media only screen and (min-width: 30em) {
	.social {
		margin: 0 1% 1.5rem 1%;
	}
	
	h6 {
		height: 0.5rem;
	}
	
	.footer-nav {
		clear: both;
	}
}	

@media only screen and (min-width: 43.75em) {
	.footer-nav {
		clear: none;
	}
}

@media only screen and (min-width: 50em) {
	
	.social {
		max-width: 50px;
	}
	
	.footer-nav {
		margin-top: 1.5rem;
	}
	
	h6 {
		margin-top: 1.5rem;
	}
}


/* BUCKETS */

@charset "UTF-8";
/* CSS Document */


.promo-h1 {
	font-size: 2.5rem; 
	line-height: 2rem;
	margin-top: 1rem;
	color: rgb(0,12,47)
 }
	
.promo-h2 {
	font-size: 2rem;
	line-height: 2rem;
	color: #6D6D6D;
	}
	
.sm-promo-h1 {
	font-size: 2.5rem; 
	line-height: 2rem;
	margin-top: 1rem;
	color: rgb(0,12,47)
 }
 
 .sm-promo-h2 {
	font-size: 2rem;
	line-height: 2rem;
	color: #6D6D6D;
}

h3 {
	color: white;
	margin-bottom: 1rem;
}

.media-img {
	max-width: 600px;
}

.promo-giga {
	color: #6D6D6D;
}

@media only screen and (min-width: 20em) {
	.promo-h1 {
	font-size: 3.5rem; 
	line-height: 1rem;
	margin-top: 2rem;
	color: rgb(0,12,47)
 	}
}

@media only screen and (min-width: 30em) {
	.promo-h1 {
	font-size: 2.5rem; 
	line-height: 1rem;
	margin-top: 2rem;
	color: rgb(0,12,47)
 	}
	
	.promo-h2 {
	font-size: 1.75rem;
	line-height: 2rem;
	color: #6D6D6D;
	}
	
	.sm-promo-h1 {
	font-size: 1rem; 
	line-height: 0.001rem;
 	}
 
 	.sm-promo-h2 {
	font-size: 1.5rem;
	line-height: 0.001rem;
	}
	
	.promo-giga {
	font-size: 0.75rem;
	}
		
	.media-img {
		max-width: 250px;
	}
	
	.sm-bucket {
		padding: 1rem 1% 1rem 1%;
	}
		
}

@media only screen and (min-width: 50em) {
	.promo-h1 {
	font-size: 5rem; 
	line-height: 3rem;
	margin-top: 2rem;
	color: rgb(0,12,47)
 	}
	
	.promo-h2 {
	font-size: 2.5rem;
	line-height: 2rem;
	color: #6D6D6D;
	}
	
	.sm-promo-h1 {
	font-size: 4rem; 
	line-height: 2rem;
 	}
 
 	.sm-promo-h2 {
	font-size: 3rem;
	line-height: 2rem;
	}
	
	.promo-giga {
	font-size: 0.75rem;
	}
	
	.media-img {
		max-width: 300px;
	}
}


@media only screen and (min-width: 80em) {
	.promo-h1 {
	font-size: 9rem; 
	color: rgb(0,12,47)
 }

.promo-h2 {
	font-size: 5rem;
	color: #6D6D6D;
	line-height: 7.5rem;
	}
	
	.media-img {
		max-width: 430px;
	}
}
	

/*PROMO LARGE*/
.promo-small {
	background: -webkit-linear-gradient(#E1E1E1, #F9F9F9, #E1E1E1);
	padding: 2rem 2% 2rem 2%;
	margin-bottom: 1rem;	
}

.promo-large {
	background: -webkit-linear-gradient(#E1E1E1, #F9F9F9, #E1E1E1);
	padding: 2rem 2% 2rem 2%;
	margin-bottom: 1rem;	
}

/*HEADER*/
.centered {
	text-align: center;	
}

.center-block {
	display: block;
	margin: 0 auto;
}

.logo {
	max-width: 125px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5rem;
}

.current, .current:link, .current:visited {
	color: rgba(0,54,110,1.00);
}

.banner {
	background: #fff url("../images/banner.jpg") no-repeat center center;
	background-size: cover;
	padding: 5rem 1rem 1rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

.banner h1 {
	color: #FFFFFF;
	text-align: right;
}
 
 
 

 