<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} · Shiny Things</title>
<meta name="description" content="{{page.meta}}">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel="stylesheet" type="text/css">
<link href="{{site.baseurl}}/css/shiny-things.css" rel="stylesheet">
<link href="{{site.baseurl}}/images/favicon.ico" rel="icon" type="image/x-icon" />


</head>
<body>

	<header>
		
		<div class="centered">
			<a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/st-logo-01.svg" class="logo" alt="Shiny Things Logo"></a>
		</div>
			
		<div class="grid">
			
			<div class="unit unit-s-2-3 unit-m-1-1 unit-l-2-9">
				<form method="get" action="{{site.baseurl}}/search.html" id="search">
				<label class="search" for="searchfield">search</label>
				<input name="q" id="searchfield" type="text" size="40" placeholder="Search..." />
				</form>
			</div>
			
			
			<div>
				<div class="icon unit unit-s-1-3 unit-m-1-3 unit-l-1-9">
					<a href="{{site.baseurl}}/cart"><img src="{{site.baseurl}}/images/bag-icon.svg" class="bag" alt="shopping bag"></a>
				</div>
			</div>
			
			<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-9">
				<h2 class="mega centered"><a href="{{site.baseurl}}/about" class="{% if page.url == '/about.html' %}current{% endif %}">About</a></h2>	
			</div>
				
			<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-9">
				<h2 class="mega centered"><a href="{{site.baseurl}}/rings/" class="{% if page.url contains '/rings' %}current{% endif %}">Rings</a></h2>	
			</div>
				
			<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-9">
				<h2 class="mega centered"><a href="{{site.baseurl}}/necklaces/" class="{% if page.url contains 'necklaces' %}current{% endif %}">Necklaces</a></h2>	
			</div>
				
			<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-9">
				<h2 class="mega centered"><a href="{{site.baseurl}}/bracelets/" class="{% if page.url contains 'bracelets' %}current{% endif %}">Bracelets</a></h2>	
			</div>
				
			<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-9">
				<h2 class="mega centered"><a href="{{site.baseurl}}/earrings/" class="{% if page.url contains 'earrings' %}current{% endif %}">Earrings</a></h2>	 
			</div>
				
			<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-9">
				<h2 class="mega centered"><a href="{{site.baseurl}}/contact.html" class="{% if page.url == '/contact.html' %}current{% endif %}">Contact</a></h2>	
			</div>
			
		</div>
		
	</header>
	
	{% if page.showbanner %}
	<div class="banner">
		<h1>{{page.bannertext}}</h1>
	</div>
	{% endif %}

	{{content}}

	<footer>
		<div class="footer unit unit-s-1-2 unit-m-1-3 unit-l-2-8">
			<div class="centered">
				<div class="unit social">
					<a href="#"><img src="{{site.baseurl}}/images/facebook-grey.svg" alt="facebook"></a>
				</div>
				
				<div class="unit social">
					<a href="#"><img src="{{site.baseurl}}/images/twitter-grey.svg" alt="twitter"></a>
				</div>
				
				<div class="unit social">
					<a href="#"><img src="{{site.baseurl}}/images/pinterest-grey.svg" alt="pinterest"></a>
				</div>
			</div>
		</div>
			
			<div class="footer-nav unit-l-6-8">	
				<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-8">
					<h6 class="centered"><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">About</a></h6>	
				</div>
				
				<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-8">
					<h6 class="centered"><a href="{{site.baseurl}}/rings/" class="{% if page.url contains '/rings' %}current{% endif %}">Rings</a></h6>	
				</div>
					
				<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-8">
					<h6 class="centered"><a href="{{site.baseurl}}/necklaces/" class="{% if page.url contains 'necklaces' %}current{% endif %}">Necklaces</a></h6>	
				</div>
					
				<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-8">
					<h6 class="centered"><a href="{{site.baseurl}}/bracelets/" class="{% if page.url contains 'bracelets' %}current{% endif %}">Bracelets</a></h6>	
				</div>
					
				<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-8">
					<h6 class="centered"><a href="{{site.baseurl}}/earrings/" class="{% if page.url contains 'earrings' %}current{% endif %}">Earrings</a></h6>	
				</div>
					
				<div class="unit unit-s-1-border unit-m-1-3 unit-l-1-8">
					<h6 class="centered"><a href="{{site.baseurl}}/contact.html" class="{% if page.url == '/contact.html' %}current{% endif %}">Contact</a></h6>	
				</div>
			</div>
	</footer>

</body>

</html>