---
layout: default
title: Product
---

<h1>{{page.name}}</h1>

<div class="grid-left">
	<div class="unit unit-m-1-3">
		<img src="{{site.baseurl}}/images/products/{{page.image}}" class="img-flex img-width" alt="photo of {{page.title}}">
	</div>
	
	<div class="unit unit-m-1-3">
		<dl class="no-centered">
			<dt class="giga">Price</dt>
			<dd>{{page.price}}</dd>
			<dt class="giga">Description</dt>
			<dd>{{page.desc}}</dd>
		</dl>

		{{content}}
		
		<a class="btn giga" href="{{site.baseurl}}/cart.html">ADD TO CART</a>
		
	</div>
</div>
